.main{
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: fit-content;
    padding: 20px;
    background-color: rgb(218, 218, 48);
}
.infor{
    display: flex;
    align-items: center;
    gap: 50px;
}
.subjects{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}
.subjects p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px12px;
    background-color: azure;
    border-radius: 7px;
}